<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Address_mapper">
	<select id="findAllByUserId" resultType="Address">
		SELECT *
		FROM address
		where user_id=#{userId}
	</select>

	<select id="findId" resultType="Address">
		SELECT *
		FROM address
		where
		id=#{Id}
	</select>

	<insert id="saveAddress" parameterType="Address">
		INSERT INTO
		address(user_id, postal_code, address1, address2, receiver, phone,
		is_default)
		VALUES (#{userId}, #{postalCode}, #{address1}, #{address2},
		#{receiver}, #{phone}, #{isDefault})
	</insert>

	<update id="updateAddress">
		UPDATE address
		SET postal_code = #{postalCode},
		address1 = #{address1},
		address2 = #{address2},
		receiver = #{receiver},
		phone = #{phone},
		is_default = #{isDefault}
		WHERE id = #{id}
	</update>

	<delete id="deleteAddress">
		DELETE FROM address
		WHERE id =#{id}
	</delete>

	<update id="updateAllSetDefaultFalse">
		UPDATE addresses
		SET is_default = false
		WHERE user_id = #{userId} AND id != #{excludeAddressId}
	</update>
</mapper>