<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review_mapper">

	<insert id="savePostReview" parameterType="Review">
	INSERT INTO reviews
	(review_id, user_id, user_nick_name, post_id, rating, review_content, url_file_path)
	VALUES
	(reviews_seq.NEXTVAL, #{userId}, #{userNickName}, #{postId}, #{rating}, #{reviewContent}, #{urlFilePath})
	</insert>
	
	<insert id="savePostReviewImage" parameterType="Image">
	INSERT INTO image
	(image_id, post_id, file_name, original_file_name, file_path, url_file_path, file_extension, uploaded_at)
	VALUES
	(images_id_seq.NEXTVAL, #{postId}, #{fileName}, #{originalFileName}, #{filePath}, #{urlFilePath},
	#{fileExtension}, #{uploadedAt})
	</insert>
	
	<select id="getReviewInfoByPostId" parameterType="String" resultType="Review">
		SELECT * FROM reviews WHERE post_id = #{postId}
	</select>
	
</mapper>