<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Profile_mapper">

	<select id="getProfileByUserId" resultType="Profile">
		SELECT user_id AS userId, profile_image AS profileImage, nickname
		FROM users
		WHERE user_id = #{userId}
	</select>

	<update id="updateProfileImage">
		UPDATE users
		SET profile_image = #{profileImage}
		WHERE user_id = #{userId}
	</update>

	<update id="deleteProfileImage">
		UPDATE users
		SET profile_image = NULL
		WHERE user_id = #{userId}
	</update>

	<update id="updateNickname">
		UPDATE users
		SET nickname = #{nickname}
		WHERE user_id = #{userId}
	</update>
</mapper>