@charset "UTF-8";

.main-container {
  max-width: 1190px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.chart-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.chart-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .temp-image1 {
  width: 100%;
  height: auto; 
  object-fit: contain;
  height: auto;

}
.temp-image2 {
  width: 100%;
  height: auto; 
  object-fit: contain;
  height: auto;

}
 */