@charset "UTF-8";

.common-page {
	margin: 0 auto;
	max-width: 1190px;
	padding-top:20px;
	padding-bottom: 50px;
	color: #717171; 
}
.substance {
	margin-left: 10px;
}

.title {
	font-size:35px;
	font-weight: 700;
	color: #434343; 
}

.titlesub {
	margin: 0 0 10px 0;
	font-size:20px;
	font-weight: 500;
	color: #4d4d4d;
}

.subtitle {
	color: #565656;
}
.title i {
  color: #CFDD82; /* 원하는 색상 (예: 파란색) */
}
.to_text { /* 이용약관 text */
	margin: 5px 10px 10px 20px; 
}

.to_text02 {
	padding-left: 3px;
}