/* Footer Styles */
.footer {
  background-color: #ffffff;
  padding: 20px 0 10px;
  margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}



/* Responsive Styles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    margin: 20px 0;
  }
}
