<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Card_mapper">
	  <select id="findAllByUserId" resultType="Card">
        SELECT * FROM card WHERE user_id = #{userId}
    </select>

    <select id="findById" resultType="Card">
        SELECT * FROM card WHERE card_id = #{cardId}
    </select>

    <insert id="saveCard" parameterType="Card">
        INSERT INTO card (user_id, card_type, card_provider, last_four, expires, is_default)
        VALUES (#{userId}, #{cardType}, #{cardProvider}, #{lastFour}, #{expires}, #{isDefault})
    </insert>

    <update id="updateCard">
        UPDATE card
        SET card_type = #{cardType},
            card_provider = #{cardProvider},
            last_four = #{lastFour},
            expires = #{expires},
            is_default = #{isDefault}
        WHERE card_id = #{cardId}
    </update>

    <delete id="deleteCard">
        DELETE FROM card WHERE card_id = #{cardId}
    </delete>

    <update id="updateAllSetDefaultFalse">
        UPDATE card SET is_default = false WHERE user_id = #{userId} AND card_id != #{excludeCardId}
    </update>
</mapper>