@charset "UTF-8";


.signupContainer01 {
	max-width: 1190px;
	margin: 0 auto;
}

.signupContainer{
	max-width: 480px;
	margin: 0 auto;
}

input {
  width: 500px;
  height: 50px;
  font-size: 15px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
}

.suline{
	margin-bottom: 15px;
}

.siginupbutton {
	max-width: 480px;
	margin: 0 auto;
	margin-bottom:20px;

}

button {
	width:150px;
	height: 50px;
}