/* 슬라이드 */

/* .pmPostListContainer {
    margin: 50px auto 10px auto;
    padding: 0px 10px 0px 10px;
    width: 80%;
    height: 350px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
} */

.slidePostListContainer {
    margin: 10px auto 10px auto;
    padding: 0px 10px 0px 10px;
    width: 100%;
    height: 350px;
    border: 1px solid gray;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.slidePostListWrapper {
    width: 100%;
    position: relative;
}

.slidePostListSlider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.slidePostListSlider > * {
    flex: 0 0 calc(100% / 3); /* 한 번에 4개씩 보이도록 */
}

.slidePostListPrevBtn,
.slidePostListNextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.26);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10;
}

.slidePostListPrevBtn:hover,
.slidePostListNextBtn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.slidePostListPrevBtn {
    left: 10px;
}

.slidePostListNextBtn {
    right: 10px;
}

/*슬라이드*/