<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>	 	
		<typeAlias type="com.app.dto.profile.Profile" alias="Profile"/>
		<typeAlias type="com.app.dto.user.User" alias="User" />
		<typeAlias type="com.app.dto.address.Address" alias="Address"/>
		<typeAlias type="com.app.dto.card.Card" alias="Card"/>
		<typeAlias type="com.app.dto.post.Post" alias="Post"/>
		<typeAlias type="com.app.dto.cart.Cart" alias="Cart"/>
		<typeAlias type="com.app.dto.jjim.Jjim" alias="Jjim"/>
		<typeAlias type="com.app.dto.jjim.JjimVO" alias="JjimVO"/>
		<typeAlias type="com.app.dto.admin.Admin" alias="Admin"/>
		<typeAlias type="com.app.dto.trade.Trade" alias="Trade"/>
		<typeAlias type="com.app.dto.report.Report" alias="Report"/>
		<typeAlias type="com.app.dto.report.UserReport" alias="UserReport"/>
		<typeAlias type="com.app.dto.faq.Faq" alias="Faq"/>
		<typeAlias type="com.app.dto.systemSetting.SystemSetting" alias="SystemSetting"/>
		<typeAlias type="com.app.dto.quality.Quality" alias="Quality"/>
	</typeAliases>
</configuration>