<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>	 
		<typeAlias type="com.app.dto.image.Image" alias="Image"/>
		<typeAlias type="com.app.dto.user.User" alias="User" />
		<typeAlias type="com.app.dto.post.Post" alias="Post" />
		<typeAlias type="com.app.dto.review.Review" alias="Review" />
		<typeAlias type="com.app.dto.buy.Buy" alias="Buy" />
		<typeAlias type="com.app.dto.gpay.GpayProperty" alias="GpayProperty" />
		<typeAlias type="com.app.dto.gpay.GpayCharge" alias="GpayCharge" />
		<typeAlias type="com.app.dto.jjim.Jjim" alias="Jjim" />
		<typeAlias type="com.app.dto.report.UserReport" alias="UserReport" />
		
	</typeAliases>
	
	
	
	
</configuration>