* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.postListMainContainer {
    margin: 50px auto 50px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 슬라이드 */

/* .pmPostListContainer {
    margin: 50px auto 10px auto;
    padding: 0px 10px 0px 10px;
    width: 80%;
    height: 350px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
} */

.pmPostListContainerTitle {
    margin-top: 50px;
    width: 80%;
}

.pmPostListContainer {
    margin: 10px auto 10px auto;
    padding: 0px 10px 0px 10px;
    width: 100%;
    height: 350px;
    border: 1px solid gray;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.pmPostListWrapper {
    width: 100%;
    position: relative;
}

.pmPostListSlider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.pmPostListSlider > * {
    flex: 0 0 calc(100% / 3); /* 한 번에 4개씩 보이도록 */
}

.pmPostListPrevBtn,
.pmPostListNextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.26);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10;
}

.pmPostListPrevBtn:hover,
.pmPostListNextBtn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.pmPostListPrevBtn {
    left: 10px;
}

.pmPostListNextBtn {
    right: 10px;
}

/*슬라이드*/

.PostListContainerTitle {
    margin-top: 50px;
    width: 80%;
}

.postListContainer {
    width: 100%;
    margin: 10px auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.loadMoreButton {
    width: 500px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.loadMoreButton:hover {
    transform: translateY(-2px);
    cursor: pointer;
    background-color: rgb(115, 226, 115, 0.5);
}